.menu_item_RE {
  .el-submenu__icon-arrow{
    right: 5px !important;
  }
}
.dialog_form_item{
  .el-form-item__content{
    display: flex !important;
    align-items: center !important;
  }
  .el-input{
    height: 40px;
  }
  .el-input__inner{
    height: 25px;
  }
  .el-button--mini{
    margin-left: 5px;
  }
}
.mail_list_left_tree{
  background-color: white;
  .el-tree-node__content{
    height: 40px !important;
  }
}
.lastPlanned_input{
  .el-input__inner{
    text-align: center !important;
    border: 0 !important;
  }
}
.lunarFull{
  .fc-event {
    color: black !important;
  }
  .fc-event-container{
    padding: 2px !important;
  }
}